page-contact {

.rj-item h2{
    padding-left: 25px;
}

.item {
    border-color: #E8E8E8; 
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}
.rj-contacts-right-bar{
    margin-top: 70px;
}
}
